<template>
  <div>
    <v-layout row wrap justify-space-between>
      <v-flex xs12>
        <trainer-info-card :trainer="trainer" class="mb-2 mx-auto" />
      </v-flex>

      <v-flex xs12 sm6>
        <v-select
          v-model="periodicity"
          :items="periodicities"
          item-text="text"
          item-value="value"
          label="Дни недели"
          single-line
          filled
          clearable
          @input="loadSessions"
        />
      </v-flex>

      <v-flex xs12>
        <v-simple-table>
          <thead>
            <tr>
              <th class="text-left">
                Время
              </th>
              <th class="text-center">
                Клиент 1
              </th>
              <th class="text-center">
                Клиент 2
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in trainingSessionsData">
              <td style="width: 10%">
                {{ item.time }}
              </td>
              <template v-for="index in [0, 1]">
                <td style="width: 45%">
                  <training-client-card
                    v-if="item.trainings[index] != null"
                    class="my-4"
                    :training="item.trainings[index]"
                    @delete="
                      deleteHandler(item.trainings[index].training_session_id)
                    "
                    @comment="commentHandler"
                  />
                  <template v-else>
                    <div class="text-left my-4">
                      <!--здесь можно создать тренировку, передав время в форму-->
                      <v-btn
                        fab
                        dark
                        color="indigo"
                        small
                        @click="openCreateDialog(item.time)"
                      >
                        <v-icon dark>
                          mdi-plus
                        </v-icon>
                      </v-btn>
                    </div>
                  </template>
                </td>
              </template>
            </tr>
          </tbody>
        </v-simple-table>
      </v-flex>
    </v-layout>
    <training-client-dialog ref="trainingClientDialog" :periodicity="periodicity" :time="currentTime" />
  </div>
</template>

<script>
import _ from "lodash";
import TrainerInfoCard from "../../components/trainers/TrainerInfoCard";
import TrainingClientCard from "~/components/training-sessions/TrainingClientCard";
import TrainingClientDialog from "~/components/training-sessions/TrainingClientDialog";

export default {
  // head() {
  //   return {
  //     title: this.trainer.name
  //   };
  // },

  components: {
    TrainingClientDialog,
    TrainingClientCard,
    TrainerInfoCard
  },

  data: () => ({
    currentTime: "",
    dialogTime: null,
    trainingSessionsData: [],
    periodicity: "odd",
    periodicities: [
      { value: "odd", text: "Понедельник, Среда, Пятница" },
      { value: "even", text: "Вторник, Четверг, Суббота" }
    ],

    events: [],
    calendarType: "week",
    calendarRange: {},

    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,

    sessionsForDate: []
  }),

  computed: {
    trainer() {
      return this.$store.getters["trainers/byId"]({
        id: this.$route.params.id
      });
    }
  },

  watch: {},

  fetch({ store, params }) {
    return Promise.all([
      store.dispatch("trainers/loadById", { id: params.id }).then(
        async () =>
          // eslint-disable-next-line no-return-await
          await store.dispatch("employees/loadById", {
            id: store.getters["trainers/byId"]({ id: params.id })
              .associated_employee_id
          })
      ),
      store.dispatch("halls/loadAll")
    ]);
  },

  mounted() {
    this.loadSessions();
  },

  methods: {
    loadSessions() {
      this.$axios
        .get("trainings-new", {
          params: {
            periodicity: this.periodicity,
            trainer_id: this.$route.params.id
          }
        })
        .then(response => {
          this.trainingSessionsData = response.data;
        });
    },

    async deleteHandler(id) {
      await this.$store.dispatch("training-sessions/delete", {
        id
      });
      await this.loadSessions();
    },

    async commentHandler(form) {
      await this.$axios
        .patch("training-sessions/" + form.training_session_id, form)
        .then(async response => {
          this.loadSessions();
        });
    },

    async openCreateDialog(time) {
      await Promise.resolve((this.currentTime = time));
      await this.$refs.trainingClientDialog.open().then(form => {
        this.$axios.post("training-sessions", form).then(async response => {
          await this.loadSessions();
        });
      });
    }
  }
};
</script>

<style scoped></style>
