<template>
  <v-dialog v-model="dialog" :fullscreen="fullscreen" @keydown.esc="cancel">
    <v-card>
      <v-toolbar dark color="primary" class="mb-4">
        <v-btn icon dark @click="cancel()">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Записать на тренировку</v-toolbar-title>
        <div class="flex-grow-1" />
        <v-toolbar-items>
          <v-btn dark text @click="save">
            Сохранить
          </v-btn>
        </v-toolbar-items>
      </v-toolbar>

      <v-card-text>
        <training-client-form v-model="form" />
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
import TrainingClientForm from "~/components/training-sessions/TrainingClientForm";
export default {
  name: "TrainingClientDialog",
  components: { TrainingClientForm },
  props: {
    time: {
      type: String
    },
    periodicity: {
      type: String
    },
    fullscreen: {
      type: Boolean,
      default: true
    }
  },

  data: () => ({
    dialog: false,

    resolve: null,
    reject: null,

    form: {}
  }),

  methods: {
    open() {
      this.dialog = true;

      this.form.client_id = "";
      this.form.training_time = this.time;
      this.form.date_end = "";
      this.form.periodicity = this.periodicity;

      return new Promise((resolve, reject) => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },

    save() {
      this.form.client_id = this.form.client_id.id;
      this.resolve(this.form);
      this.dialog = false;
    },

    cancel() {
      this.dialog = false;
    }
  }
};
</script>

<style scoped></style>
