<template>
  <v-form>
    <v-combobox
      v-model="value.client_id"
      :items="clients"
      :search-input.sync="clientsSearch"
      item-value="id"
      item-text="full_name"
      label="Клиент"
      placeholder="ФИО или телефон (не менее 5 символов)"
    />
    <v-text-field
      v-model="value.training_time"
      disabled
      label="Время тренировок"
    />
    <v-text-field v-model="value.date_end" label="Время окончания абонемента" />
    <v-select
      v-model="value.periodicity"
      disabled
      label="Дни посещения"
      :items="trainingDays"
      item-value="value"
      item-text="name"
    />
  </v-form>
</template>

<script>
import _ from "lodash";

export default {
  name: "TrainingClientForm",
  props: {
    value: {
      type: Object,
      default: () => ({})
    },

    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data: () => ({
    clientsSearch: null,
    search: null,

    trainingDays: [
      {
        name: "Понедельник, среда, пятница",
        value: "odd"
      },
      {
        name: "Вторник, четверг, суббота",
        value: "even"
      }
    ]
  }),

  computed: {
    clients() {
      return this.$store.getters["clients/where"]({
        filter: this.clientsFilter
      });
    },
    clientsFilter() {
      return {
        search: this.search,
      };
    },

    defaultForm() {
      return {
        training_time: this.time,
        trainer_id: this.$route.params.id,
        periodicity: this.periodicity
      };
    },

    trainersFiltered() {
      return this.trainers; // todo
    }
  },

  watch: {
    clientsSearch(val) {
      this.search = val;
      if (this.search != null) {
        if (this.search.length > 4) {
          this.$store.dispatch("clients/loadWhere", {
            filter: this.clientsFilter
          });
        }
        if (this.value.client_id != null) {
          const sub = this.value.client_id.active_subscriptions;
          if (sub && sub.length) {
            const filteredSubs = sub.filter(
              subscription => subscription.subscriable_type === null
            );
            if (filteredSubs && filteredSubs.length) {
              this.value.date_end =
                filteredSubs[filteredSubs.length - 1].valid_till;
            }
          }
        }
      }
    },
    "value.client_id"(val) {}
  },

  created() {
    const newVal = { ...this.value };

    _(this.defaultForm).each((item, index) => {
      if (!this.value[index] || this.value[index] === null) {
        newVal[index] = item;
      }
    });

    this.$emit("input", newVal);
  }
};
</script>

<style scoped></style>
